<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- change values when publishing -->
  <appSettings>
    <add key="loggingServer" value="http://prod.logging/v1/"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace"/>
  </appSettings>

  <!-- Remove Debug="true" attribute -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>